<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.df.dianping"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.df.GetDataFromNet.MyApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a5fa3ffc63fbbab28af9038cce0da1ac">
            //开发者申请的key</meta-data>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".DetailActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".CategoryActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.df.Collect.Mycollection"
            android:label="@string/title_activity_my_collection"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.df.Search.Search"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.df.Search.Search_history"
            android:label="@string/title_activity_search_history"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name="com.df.Indent.MyIndentActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <activity
            android:name="com.df.Login.LoginActivity"

            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.df.Login.RegisterActivity"

            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.df.Login.PhoneLoginActivity"

            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.df.Login.ResetPasswordActivity"

            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <activity
            android:name=".MainpersonalActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.df.Circle.UploadActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

    </application>

</manifest>
